.margo-navigation-bar {
  position: relative;
  height: 100%;
  width: var(--margo-navigation-bar-progress, 0%);
  background: linear-gradient(to right, var(--margo-color-primary-darken), var(--margo-color-primary));
  transition: width 200ms ease-out;
}

.margo-navigation-bar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 6.25rem;
  transform: rotate(3deg) translateY(-0.25rem);
  opacity: 0.9;
  box-shadow:
    0 0 10px var(--margo-color-primary),
    0 0 5px var(--margo-color-primary);
}
