.animate-ripple {
  animation: ripple 500ms ease-out forwards;
}

@keyframes ripple {
  from {
    opacity: 0.4;
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
